@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgColor: #201a24f6;
    --txtColor: #e9d7d7;
}

* { 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono";
    background-color: var(--bgColor);
    color: var(--txtColor);
}

h1, p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px
}

button {
    font-size: 32px;
    padding: 5px;
    min-width: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "JetBrains Mono";
    font-weight: 400;
    color: rgb(243, 239, 239);
    background-color: rgb(67, 60, 53);
}

button:hover {
    background-color: #696363;
}

.content {
    margin: 50px;
    margin-top: 100px;
}

.calc-container {
    background-color: rgb(203, 203, 182);
    color: black;
    width: 330px;
    border-radius: 10px;
    padding: 20px 20px;
}

.display {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(78, 89, 95);
    height: 50px;
    padding: 5px 10px;
}

.display-outline {
    padding: 10px;
    background-color: rgb(37, 35, 35);
}

.btn-layout {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(157, 157, 147, 0.75);
    border-radius: 5px;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;

}

.row {
    display: flex;
    gap: 10px
}

.operators {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.stripe {
    background-color: rgb(124, 120, 116);
    height: 40px;
    margin: 10px -20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stripe button {
    height: 15px;
    background-color: rgb(175, 170, 162);
}

#round-button {
    height: 30px;
    border-radius: 10px;
}