@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgColor: #201a24f6;
    --txtColor: #e9d7d7;
}

* { 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono";
    background-color: var(--bgColor);
    color: var(--txtColor);
}

h1, p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px
}

button {
    font-size: 32px;
    padding: 5px;
    min-width: 35px;
    border-radius: 5px;
    font-family: "JetBrains Mono";
    font-weight: 400;
    color: rgb(232, 229, 229);
    background-color: rgb(108, 92, 75);
}

.content {
    margin: 50px;
    margin-top: 100px;
}

.calc-container {
    background-color: rgb(203, 203, 182);
    color: black;
    width: 330px;
    border-radius: 10px;
    padding: 20px 20px;
}

.display {
    background-color: rgb(78, 89, 95);
    height: 50px;
}

.btn-layout {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;

}

.row {
    display: flex;
    gap: 10px
}

.operators {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

}

.stripe {
    background-color: rgb(124, 120, 116);
    height: 50px;
    margin: 10px -20px;
}